<!DOCTYPE html>
<html>
<head>
<title>Paperweight Account Login</title>
<style>
html { width:320px; margin-left: auto; margin-right: auto; font-family: 'Open Sans', sans-serif;}
h2 { margin-top: 0; }
</style>
<meta name="viewport" content="initial-scale = 1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
</head>

<body>

{% load url from future %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<h2>Login to your Paperweight Magazine Account</h2>

<p>This is primarily used to provide access to our Kickstarter backers.  If you aren't a Kickstarter backer, you may purchase a subscription in the store.  We still love you.</p>

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Login" />
<input type="hidden" name="next" value="/handler/{{ request.session.session_key }}" />
</form>

<p>Problems?  Email <a href = "mailto:support@paperwieghtmagazine.com">support@paperweightmagazine.com</a></p>

<form method="get" action="{% url 'close' %}">
<button type="submit" name="close" value="close">Close</button>
</form>

<!--<a href = "/close/">Close</a>-->

</body>
</html>
